


img {
    max-width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    color: rgba(80,80,80);
}

a {
    color: black;
}

.border-bottom-grey {
    border-bottom: 1px solid rgba(200,200,200,0.5);
}

.border-right-grey {
    border-right: 1px solid rgba(200,200,200, 0.5);
}

.btn {
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 0;
}

.cart-btn {
    margin-right: 10px;
}


.container {
    margin: 0;
    padding: 0;
}

.color-lg {
    color: rgba(200,200,200, 0.5);
}

.color-dg {
    color: rgba(80,80,80);
}

.product-panel {
    padding: 20px 0 0 100px;
}

.panel {
    padding: 0;
}


.product-title {
    padding-bottom: 50px;

}
.product-nav-item {
    padding: 0 45px 25px 0;
}
.product-price {
    margin-bottom: 50px;
}

.product-price span {
    margin-right: 25px;
    font-size: 30px;
    font-weight: bold;
}

.retail-price {
    opacity: 0.2;
    text-decoration: line-through;
}

.product-text {
    padding: 10px 50px 25px 0;
}

.product-title-award-text{
    opacity: 0.4;
}

.product-summary {

}

.product-showcase {

}


.product-cart-block {
    position: relative;
    bottom: 0;
}




